In [15]:
import pandas as pd
import datetime as dt
from datetime import timedelta
import IMX_Utils as utils
from collections import defaultdict

In [3]:
start_date = dt.date(2022, 1, 1)
end_date = dt.date(2022, 1, 3)
print(start_date)
print(end_date)

2022-01-01
2022-01-03

In [38]:
def all_filter_by_date(start_date, end_date):
    contractor_list = utils.get_contractors()
    ticket_data = pd.read_csv('../Data/Raw/Tickets.csv', delimiter=',')
    number_of_days = start_date - end_date
    number_of_days = abs(int(number_of_days.days))
    # list of desired dates, inclusive
    desired_dates = [(start_date + timedelta(days=n)) for n in range(number_of_days + 1)]
    select_tickets = defaultdict()
    for date in desired_dates:
        test_rows = ticket_data[ticket_data['date'] == str(date)]
        select_tickets[str(date)] = test_rows
    return select_tickets

In [49]:
def ticket_contractors(full_payroll_out):
    # Code to get ticket, contractor, and then figure out how much they get paid.
    """
    For each contractor
        get list of tickets
        go through tickets and calculate his weight and multiply by his rate
        return date, contractor, pay
    """

In [50]:
data = all_filter_by_date(start_date, end_date)

In [51]:
data.keys()

dict_keys(['2022-01-01', '2022-01-02', '2022-01-03'])

In [52]:
data['2022-01-01']

,external_id,internal_id,company_name,job_site,date,employees,num_of_employees,tare_weight,gross_weight,net_weight,hours_worked,material_type,rate
0,1001,100001,company1,name,2022-01-01,"Gerardo Sandoval, Fred Barker",2,100,200,100,0,metal,60
1,1002,100002,company2,job2,2022-01-01,"Heather Barker, Amy Sandoval",2,1000,2000,1000,0,metal,60
10,1011,100009,Total,Site 1,2022-01-01,"Gerardo Sandoval, Fred Barker",2,100,200,100,0,metal,60
11,1012,100010,Total,Site 1,2022-01-01,"Heather Barker, Amy Sandoval",2,1000,2000,1000,0,metal,60
12,1013,100011,Total,Site 1,2022-01-01,"Gerardo Sandoval, Fred Barker",2,100,200,100,0,metal,60

In [53]:
split_days_tickets(data)

The Date: 2022-01-01
    external_id  internal_id company_name job_site        date  \
0          1001       100001     company1     name  2022-01-01
1          1002       100002     company2     job2  2022-01-01
10         1011       100009        Total   Site 1  2022-01-01
11         1012       100010        Total   Site 1  2022-01-01
12         1013       100011        Total   Site 1  2022-01-01

                        employees  num_of_employees  tare_weight  \
0   Gerardo Sandoval, Fred Barker                 2          100
1    Heather Barker, Amy Sandoval                 2         1000
10  Gerardo Sandoval, Fred Barker                 2          100
11   Heather Barker, Amy Sandoval                 2         1000
12  Gerardo Sandoval, Fred Barker                 2          100

    gross_weight  net_weight  hours_worked material_type  rate
0            200         100             0         metal    60
1           2000        1000             0         metal    60
10           200         100             0         metal    60
11          2000        1000             0         metal    60
12           200         100             0         metal    60
#####################
The Date: 2022-01-02
    external_id  internal_id company_name job_site        date  \
5          1006       100004      Big Inc    Big 1  2022-01-02
6          1007       100005      Big Inc    Big 2  2022-01-02
7          1008       100006      Big Inc    Big 3  2022-01-02
8          1009       100007      Big Inc    Big 3  2022-01-02
13         1014       100012        Total   Site 2  2022-01-02
14         1015       100013        Total   Site 2  2022-01-02
15         1016       100014        Total   Site 2  2022-01-02

                                        employees  num_of_employees  \
5                                       john, sam                 2
6                     john, sam, gerardo sandoval                 3
7   gerardo sandoval, fred barker, heather barker                 3
8                                gerardo sandoval                 1
13               Heather Barker, Gerardo Sandoval                 2
14                                           john                 1
15                                           john                 1

    tare_weight  gross_weight  net_weight  hours_worked material_type  rate
5           100           200         100             0         rebar    25
6          1000          2000        1000             0         rebar    25
7          1000          2000        1000             0          wire    30
8             0             0           0            10        hourly   200
13         1000          2000        1000             0         metal    60
14            0             0           0            10        hourly   200
15            0             0           0             5        hourly   100
#####################
The Date: 2022-01-03
    external_id  internal_id company_name job_site        date  \
16         1017       100015        Total   Site 2  2022-01-03

                       employees  num_of_employees  tare_weight  gross_weight  \
16  Heather Barker, Amy Sandoval                 2         1000          2000

    net_weight  hours_worked material_type  rate
16        1000             0         metal    60
#####################

In [99]:
def create_ticket_employee_table():
    data = pd.read_csv('../Data/Raw/Tickets.csv')
    table_rows = []
    for rows in data.values:
        ticket_num = rows[0]
        internal_id = rows[1]
        all_contractors = rows[5].split(',')
        for contractor in all_contractors:
            contractor = contractor.strip().split(' ')
            if len(contractor) == 2:
                first_name, last_name = contractor
                middle_name = ''
            else:
                first_name, middle_name, last_name = contractor
            table_rows.append([ticket_num, internal_id, first_name, middle_name, last_name]) 
    table_columns = ['external_id', 'internal_id', 'first_name','middle_name', 'last_name']
    df_to_write = pd.DataFrame(table_rows, columns=table_columns)
    df_to_write.to_csv('../Data/Raw/Ticket_Contractor_Table.csv', index=False, sep=',')

In [100]:
create_ticket_employee_table()