In [1]:
import pandas as pd
import datetime as dt
from datetime import timedelta
import IMX_Utils as utils
from collections import defaultdict

In [2]:
start_date = dt.date(2022, 1, 1)
end_date = dt.date(2022, 1, 3)
print(start_date)
print(end_date)

2022-01-01
2022-01-03

In [3]:
def all_filter_by_date(start_date, end_date):
    contractor_list = utils.get_contractors()
    ticket_data = pd.read_csv('../Data/Raw/Tickets.csv', delimiter=',')
    number_of_days = start_date - end_date
    number_of_days = abs(int(number_of_days.days))
    # list of desired dates, inclusive
    desired_dates = [(start_date + timedelta(days=n)) for n in range(number_of_days + 1)]
    select_tickets = defaultdict()
    for date in desired_dates:
        test_rows = ticket_data[ticket_data['date'] == str(date)]
        select_tickets[str(date)] = test_rows
    return select_tickets

In [4]:
def ticket_contractors(full_payroll_out):
    # Code to get ticket, contractor, and then figure out how much they get paid.
    """
    For each contractor
        get list of tickets
        go through tickets and calculate his weight and multiply by his rate
        return date, contractor, pay
    """

In [5]:
data = all_filter_by_date(start_date, end_date)

In [6]:
data.keys()

dict_keys(['2022-01-01', '2022-01-02', '2022-01-03'])

In [7]:
data['2022-01-01']

,external_id,internal_id,company_name,job_site,date,employees,num_of_employees,tare_weight,gross_weight,net_weight,hours_worked,material_type,rate
0,1001,100001,company1,name,2022-01-01,"Gerardo Sandoval, Fred Barker",2,100,200,100,0,metal,60
1,1002,100002,company2,job2,2022-01-01,"Heather Barker, Amy Sandoval",2,1000,2000,1000,0,metal,60
10,1011,100009,Total,Site 1,2022-01-01,"Gerardo Sandoval, Fred Barker",2,100,200,100,0,metal,60
11,1012,100010,Total,Site 1,2022-01-01,"Heather Barker, Amy Sandoval",2,1000,2000,1000,0,metal,60
12,1013,100011,Total,Site 1,2022-01-01,"Gerardo Sandoval, Fred Barker",2,100,200,100,0,metal,60